<h1>New Band</h1>

<a href="<%= bands_url %>">Back to All Bands</a>
<br>
<br>

<form action="<%= bands_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="band_name">Band Name:</label>
  <input type="text" name="band[name]" id="band_name" value="<%=@band.name%>">
  <br>

  <button>OK</button>

</form>
